DocumentReaderQA(
  (embedding): Embeddings(
    (emb_luts): ModuleList(
      (0): Embedding(30004, 300, padding_idx=0)
      (1): Embedding(37, 5, padding_idx=0)
      (2): Embedding(16, 5, padding_idx=0)
    )
  )
  (question_encoder): RNNEncoder(
    (rnn): LSTM(310, 64, num_layers=3, batch_first=True, dropout=0.3, bidirectional=True)
  )
  (question_attention): DotWordSeqAttetnion()
  (evidence_encoder): RNNEncoder(
    (rnn): LSTM(320, 64, num_layers=3, batch_first=True, dropout=0.3, bidirectional=True)
  )
  (start_matcher): BilinearMatcher(
    (bilinear): Bilinear(in1_features=128, in2_features=128, out_features=1, bias=False)
  )
  (end_matcher): BilinearMatcher(
    (bilinear): Bilinear(in1_features=128, in2_features=128, out_features=1, bias=False)
  )
  (dropout): Dropout(p=0.1)
  (ceLoss): CrossEntropyLoss()
)Namespace(baidu_data='/media/iscas/linux/fym/data/train_data_sogou/baidu_data.pt', baidu_file='data/baidu_data.json', batch=100, brnn=True, clip=9.0, debug=False, device=0, dict_file='/media/iscas/linux/fym/data/train_data_sogou/vocab.pt', dropout=0.1, encoder_dropout=0.3, epoch=10, exp_name='feature_cc_lr_finetune', hidden_size=128, lr=0.0005, model_file=None, multi_layer_hidden='last', ner_vec_size=5, num_layers=3, optimizer='Adamax', out_file='output/result', pos_vec_size=5, question=False, regular_weight=0, resume_snapshot=None, rnn_type='LSTM', seed=1993, test_file=None, topk=30000, train_data='/media/iscas/linux/fym/data/train_data_sogou/train_factoid_sogou_2.pt', train_file='data/sogou_shuffle_train.json', valid_data='/media/iscas/linux/fym/data/train_data_sogou/valid.pt', valid_file='data/sogou_shuffle_valid.json', word_normalize=False, word_vec_size=300, word_vectors='/media/iscas/linux/fym/word2vec/penny.cbow.dim300.bin')